/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.identifier {
  font-family: 'Menlo', 'Consolas', monospace;
  font-size: smaller;
}

.theme-dark .identifier {
  color: lightgreen;
} 

.theme-light .identifier {
  color: green;
}

.number {
  font-family: 'Menlo', 'Consolas', monospace;
  font-size: smaller;
}

.theme-dark .number {
  color: lightblue;
}

.theme-light .number {
  color: blue;
}

.punctuator {
  font-family: 'Menlo', 'Consolas', monospace;
  font-size: smaller;
}

.theme-dark .punctuator {
  color: lightcoral;
}

.theme-light .punctuator {
  color: darkred;
}

.string {
  color: var(--purple);
  font-family: 'Menlo', 'Consolas', monospace;
  font-size: smaller;
}

.line_number {
  font-family: 'Menlo', 'Consolas', monospace;
  font-size: small;
  display: inline;
  white-space: pre;
}

.theme-dark .line_number {
  color: darkgrey;
}

.theme-light .line_number {
  color: lightgrey;
}

.result {
  color: var(--text);
  font-family: 'Menlo', 'Consolas', monospace;
  font-size: smaller;
  display: inline;
}

.theme-dark .result {
  color: #b7b7b7;
}

.theme-light .result {
  color: #747474;
}

.scan_error {
  color: red;
  font-family: 'Menlo', 'Consolas', monospace;
  font-size: smaller;
}

